body {
  font-family: "Roboto", sans-serif;
  color: #2c2c2c;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
img {
  display: block;
}
button {
  cursor: pointer;
}
.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 16px;
}

/* #region header */

.header-container {
  display: flex;
  box-shadow: 0 4px 24px 0 rgba(105, 105, 105, 0.1);
  background: #fefefe;
  align-items: center;
  justify-content: space-between;
}
.logo {
  margin-right: auto;
  display: flex;
  padding-top: 10px;
  padding-bottom: 10px;
}
.logo-img {
  display: block;
}

.nav {
  display: flex;
  justify-content: center;
  margin-right: 30px;
}

.nav-link {
  font-size: 14px;
  color: #2c2c2c;
  padding: 28px 0;
  display: block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    font-weight 250ms cubic-bezier(0.4, 0, 0.2, 1),
    text-decoration 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-list {
  display: flex;
  gap: 28px;
}
.nav-link:hover,
.nav-link:focus {
  font-weight: 700;
  text-decoration: underline;
  color: #bbf330;
}

.button-header {
  font-weight: 500;
  font-size: 13px;
  line-height: 1.5;
  text-align: right;
  background: #bbf330;
  border-radius: 30px;
  border: none;
  cursor: pointer;
  padding: 6px 17px;
  min-width: 98px;
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-header:hover {
  background: #ffe450;
}
/* #endregion header */
/* #region hero */
.hero {
  padding-top: 14px;
  padding-bottom: 69px;
}
.hero-container {
  display: flex;
  align-items: center;
  margin-bottom: 55px;
  gap: 143px;
}
.hero-text-container {
  max-width: 511px;
  display: block;
  align-items: center;
}
.hero-title {
  font-size: 48px;
  line-height: 1.2;
  max-width: 511px;
  margin-bottom: 28px;
}
.hero-text {
  line-height: 1.5;
  margin-bottom: 40px;
}
.hero-image-container {
  display: flex;
}
.overlay-image {
  background-image: url(<svgwidth="580"height="580"viewBox="0 0 580 580"fill="none"xmlns="http://www.w3.org/2000/svg"><circlecx="290"cy="290"r="277"fill="#FEFEFE"stroke="#FFE550"stroke-width="26"/></svgwidth=>);
  display: block;
  position: absolute;

  padding-top: 26px;
  padding-left: 17px;
  border-radius: 291px;
  width: 528px;
}

.background-image {
  display: block;
  padding-right: 30px;
}
.button-hero {
  font-weight: 500;
  font-size: 13px;
  line-height: 1.5;
  text-align: right;
  color: #2c2c2c;
  background-color: #bbf330;
  border-radius: 30px;
  border: none;
  cursor: pointer;
  padding: 6px 17px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-hero:hover,
.button-hero:focus {
  background-color: #ffe450;
}
/* #endregion hero */
/* #region features */
.features {
  padding-top: 113px;
  padding-bottom: 124px;
  background-color: #ffe550;
}

.features-container {
  display: flex;
  gap: 90px;
}

.svg-wrapper {
  position: relative;
  width: 550px;
  height: 550px;
  border: solid rgba(255, 255, 255, 0.5);
  border-width: 5px;
  border-radius: 100%;
  background-color: transparent;
  box-sizing: border-box;
  margin-bottom: 124px;
}

.bg-wrapper {
  display: block;

  left: 40px;
  border-radius: 50%;
  fill: #fefefe;
  position: absolute;
  width: 502px;
  height: 502px;
  top: 24px;
  left: 24px;
  right: 24px;
  bottom: 24px;
  z-index: 2;
}
.shadow-wrapper {
  position: absolute;
  z-index: 3;
  border-radius: 100%;
  fill: radial-gradient(
    50% 50% at 50% 50%,
    rgb(47, 88, 63) 0%,
    rgb(105, 105, 105) 100%
  );
  filter: blur(26px);
  width: 304px;
  height: 139px;
  top: 388px;
  left: 155px;
  right: 143px;
  bottom: 75px;
}
.overlay-apple-image {
  position: absolute;
  z-index: 4;
  border-radius: 262px;
  width: 396px;
  height: 502px;
  bottom: 102px;
  right: 70px;
  left: 84px;
}
.features-content {
  max-width: 573px;
}
.features-header {
  font-weight: 700;
  font-size: 42px;
  line-height: 1.2;
  margin-bottom: 20px;
}
.features-text {
  line-height: 1.5;
  margin-bottom: 40px;
}
.delivery-ul {
  display: flex;
  gap: 67px;
  margin-bottom: 32px;
}
.delivery-item {
  width: calc((100% - 67px) / 2);
}

.delivery-icons-wrapper {
  border-radius: 100%;
  background-color: #fefefe;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  margin-bottom: 8px;
}
.delivery-icon {
  fill: none;
}

.delivery-title {
  font-size: 18px;
  line-height: 1.4;
  margin-bottom: 16px;
}
.delivery-text {
  font-size: 14px;
  line-height: 1.5;
}
.order-button {
  border: 2px solid #7eb101;
  border-radius: 30px;
  padding: 10px 20px;
  margin-top: 32px;
  background-color: #fff;
  font-weight: 500;
  font-size: 13px;
  line-height: 1.5;
  color: #2c2c2c;
  cursor: pointer;
  text-align: center;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.order-button:hover,
.order-button:focus {
  border: none;
  background-color: #bbf330;
}
/* #endregion features */
/* #region favorites */
.favorites-container {
  padding-top: 120px;
  padding-bottom: 101px;
}
.favorites-title {
  font-size: 42px;
  text-align: center;
  margin-bottom: 20px;
}
.favorites-text {
  font-size: 16px;
  text-align: center;
  margin-bottom: 40px;
  display: block;
}
.favorites-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 32px;
}
.favorites-item {
  width: calc((100%-64px) / 3);
}
.favorites-img {
  display: block;
  border-radius: 157px;
  width: 315px;
  height: 315px;
}
.img-favorites-wrapper {
  box-sizing: border-box;
  border: 16px solid #ffe550;
  border-radius: 197px;
  background: #fefefe;
  width: 394px;
  height: 397px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* #endregion favorites */
/* #region customers */
.customers {
  padding-top: 140px;
  padding-bottom: 126px;
  background-color: #ffe550;
}
.customers-title {
  font-size: 42px;
  margin-bottom: 20.4px;
}
.customers-text {
  margin-bottom: 32.65px;
}
.customers-list {
  display: flex;
  gap: 139px;
}
.customers-item {
  box-sizing: border-box;
  border-radius: 0 30px 30px 30px;
  width: 501px;
  height: 231px;
  background: #fefefe;
  padding: 14px;
}
.customers-icon {
  fill: #ffe550;
}
.customer-review {
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 41px;
}
.customer-wrapper {
  display: flex;
  gap: 16px;
}
.customer-name {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.5;
}
.customer-desc {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
}
.customer-box {
  padding-top: 6px;
  padding-right: 18px;
  box-sizing: border-box;
  border: none;
  border-right: 1px solid #7eb101;
}
/* #endregion customers */
/* #region offers */
.offers {
  padding-top: 176px;
  padding-bottom: 201px;
  padding-left: 18px;
  padding-right: 15px;
}
.offers-container {
  display: flex;
}
.offers-title {
  line-height: 1.2;
  margin-bottom: 20px;
}
.offers-text {
  line-height: 1.5;
  padding-right: 107px;
  margin-bottom: 24px;
}
.input-offers {
  border: 0.85px solid #ffe550;
  border-radius: 30px;
  padding: 10px;
  width: 395px;
  height: 42px;
  margin-right: 32px;
}
.offers-btn {
  border-radius: 30px;
  padding: 10px 20px;
  width: 103px;
  height: 42px;
  background-color: #bbf330;
  text-align: center;
  border: none;
  font-weight: 500;
  font-size: 13px;
  line-height: 1.5;
  color: #2c2c2c;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.offers-btn:hover,
.offers-btn:focus {
  background-color: #ffe450;
}

/* #endregion offers */
/* #region footer */
.footer-container {
  box-shadow: 0 -4px 24px 0 rgba(105, 105, 105, 0.1);
  background: #fefefe;
  padding-top: 100px;
  padding-left: 21px;
}

.logo-svg {
  fill: none;
}
.logo-link-footer {
  margin-right: 143px;
}
.footer-nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.footer-nav-link {
  font-size: 14px;
  color: #2c2c2c;
  padding: 28px 0;
  display: block;
  transition: font-weight 250ms cubic-bezier(0.4, 0, 0.2, 1),
    text-decoration 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-nav-link:hover,
.footer-nav-link:focus {
  font-weight: 700;
  text-decoration: underline;
  color: #bbf330;
}
.footer-ul {
  display: flex;
  gap: 28px;
}
.footer-wrapper {
  display: flex;
  gap: 320px;
  justify-content: center;
}
.footer-title {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.5;
  margin-bottom: 12px;
}

.footer-form {
  display: flex;
  gap: 13px;
  margin-bottom: 12px;
}
.footer-input {
  border: 0.85px solid #ffe550;
  border-radius: 30px;
  padding: 10px;
  width: 279px;
  height: 42px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.5;
  color: #505050;
  padding: 12px;
}
.footer-btn {
  border: 0.85px solid #7eb101;
  border-radius: 30px;
  padding: 10px 20px;
  width: 103px;
  height: 42px;
  font-weight: 500;
  font-size: 13px;
  line-height: 1.5;
  color: #2c2c2c;
  background-color: #fff;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-form > .footer-btn:hover,
.footer-btn:focus {
  border: none;
  background-color: #bbf330;
}
.footer-policy-text {
  font-size: 12px;
  margin-bottom: 80px;
}
.privacy-link {
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #7eb101;
}
.footer-bottom-wrapper {
  display: flex;
  margin-bottom: 100px;
  justify-content: space-between;
}
.footer-bottom-list {
  display: flex;
  gap: 20px;
}
.footer-link {
  font-weight: 400;
  font-size: 12px;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #7eb101;
}
/* #endregion footer */
